<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Teacher Management System</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body style="background-color: #f0f0f0;">
	<nav class="navbar navbar-expand-md bg-dark bg-student">
		<!-- Brand -->
		<a class="navbar-brand" href="#"></a>
		<div class="logo">
			<span>T</span>eacher <span>M</span>anagement <span>S</span>ystem
		</div>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/teachers}">Teacher_Management</a></li>
						
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Update Teacher</h1>
				<div class="card-body">
					<form th:action="@{/teachers/{id} (id=${teacher.id})}"
						th:object="${teacher}" method="POST">
						<div class="form-group">
							<label> Teacher First Name </label> <input type="text"
								name="firstName" th:field="*{firstName}" class="form-control"
								placeholder="Enter Teacher First Name" />
						</div>

						<div class="form-group">
							<label> Teacher Last Name </label> <input type="text"
								name="lastName" th:field="*{lastName}" class="form-control"
								placeholder="Enter Teacher Last Name" />
						</div>

						<div class="form-group">
							<label> Teacher Email </label> <input type="text" name="email"
								th:field="*{email}" class="form-control"
								placeholder="Enter Teacher Email" />
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	<footer class="footer" style="Margin-top: 222px;">
		<div class="container" style="padding:6px;">
			<p>Teacher Management &copy; 2022, All Rights Reserve</p>
		</div>
		</div>

	</footer>
</body>
</html>