<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<!--style="background-color: #283593;"  -->
<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-md bg-custom navbar-dark flex-nav "
		style="background-color: #283593;">
		<!-- Brand -->
		<!-- <a class="navbar-brand" href="#">Student Management System</a> -->
		<div class="logo">
			<span>S</span>tudent<span>M</span>anagement
		</div>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse flex-nav-links"
			id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/students}">About</a>
				</li>

				<li class="nav-item"><a class="nav-link"
					th:href="@{/students}">Students</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/create_student}">Add_Student</a></li>
				<li class="nav-item" style="margin-left: 450px"><a
					class="nav-link" th:href="@{/login}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid back-img"></div>
	<h1></h1>
	
	<footer class="footer" style="margin-top: 0px;">
			<div class="container">

				<p>Student Management &copy; 2022, All Rights Reserve</p>
			</div>
	</footer>
</body>
</html>